<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zx.soft.database.mybatis.mapper.StudentMapper">

	<!-- 插入数据 -->
	<insert id="addUser" parameterType="com.mybatis.pojo.User"
		useGeneratedKeys="true" keyProperty="id" flushCache="true">
		INSERT INTO student (`first`,`last`,`age`) VALUES
		(#{first},#{last},#{age});
	</insert>
	<!-- update -->
	<update id="updateUser" parameterType="com.mybatis.pojo.User">
		update user set first = #{first}, last = #{last},age = #{age} where id
		= #{id};
	</update>

	<!-- delete -->
	<delete id="delUser" parameterType="int">
		delete from user where id = #{id}
	</delete>

	<!-- select -->
	<select id="selectUserById" parameterType="int"
		resultType="com.mybatis.pojo.User">
		select * from user where id = #{id};
	</select>
</mapper>